			<div id="card">
					<div id="mainlogo">
						<div class="logo"><img src="Views/css/logoMotte.jpg"alt="logo"></div>
						<h1 class="maintitle">Didier <br />Motte</h1>
					</div>
			<div id="maininfo">
					 <ul class="secondinfo">
							<li>Antiques</li>
							<li>Decoration</li>
							<li>Interior Design</li>
						</ul>
					<br />
					<a href="dialcall">+32 495/20 59 34</a>
			</div>
			<div id="product">
				<ul class="subproduct">
					<li><a href="?action=presentation">Présentation</a></li>
					<li><a href="?action=stock">Le stock</a></li>
					<li><a href="?action=contacts">Contact</a></li>
				</ul>
			</div>
			<!--end card-->
			</div>
			<blockquote>
				<span>"L'ennui naquit un jour de l'uniformité"</span>
				<cite>– Antoine Houdar de la Motte</cite>
			</blockquote>
