    <div class="contact">
      <h1> Contact </h1>
      <br/>
      <div class="magasin">
      <h2> Le Magasin </h2><br/>
      <p> Le magasin est ouvert le samedi matin de 10h00 à 12h30 ou sur <br/> rendez-vous. </p><br/>
      </div>
      <div class="nom">
        <h6> Didier motte </h6>
        <input type="button" value="dmotte@skynet.be" href="mailto:dmotte@skynet.be">
      </div>
      <div class="adresse">
        <p> +32 495 20.59.34</p>
        <p> Rue Saint Georges</p>
        <p> B-1400 Nivelles</p>
        <p>Belgique</p>
        <p>Retrouvez nos mises à jour en vous
        <input type="button" value="Abonnant à notre page Facebook" href='https://www.facebook.com/antiquites.decoration'></p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1266.2944791844961!2d4.326367387038719!3d50.59759280132145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c232d3694f6c59%3A0xe7333aff0bd54fec!2sRue+Saint-Georges+35%2C+1400+Nivelles!5e0!3m2!1sen!2sbe!4v1510149281170" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
