<!--end contenair-->
		</div>
	<footer>
		<p>© 2017 Didier Motte +32 495 20 59 34 - <a href ="mailto:dmotte@skynet.be">dmotte@skynet.be</a> - <a href = "contact.html">Plan d'accès</a></p>
		<p>Décorateur, Antiquaire, agencement d'intérieurs, Belgique</p>
		<p>Restez à jour via: <a href = "https://www.facebook.com/antiquites.decoration">Facebook</a>  <a href="https://www.instagram.com/DidierMotte/" itemprop="sameAs" target="_blank" rel="noopener">Instagram</a></p>
		<p>Designed & Developed by <a href = "https://pixeline.be/">pixeline</a></p>
	</footer>
</body>
</html>
