<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DidierMotte</title>
    <link rel="stylesheet" href="Views/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <header>
      <nav class="principal" >
        <div class="navUp">
          <div class="navLeft">
            <ul>
              <li>Antiquité</li>
              <li>Décoration</li>
              <li>Agencement</li>
            </ul>
          </div>
          <div class= "navRight">
            <button type="text" name="English">English</button>
            <button type="text" name="Français">Français</button>
          </div>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <nav class="principal" >
      <div class="navUp">
        <div class="navLeft">
          <ul>
            <li>Antiquité</li>
            <li>Décoration</li>
            <li>Agencement</li>
          </ul>
        </div>
        <div class= "navRight">
          <ul class="white subproductblack">
          <li><a href="https://didiermotte.be/didier-motte/">English</a></li>
          <li><a href="https://didiermotte.be/stock/">Français</a></li>
         </ul>
        </div>
      </div>
      <div class="navBas">
        <div class="navLeftDown">
          <a class="secondlogo" href="https://didiermotte.be/"><img src="css/logoMotte.jpg" height="60px" width="60px" alt=""></a>
          <h2 class="FirstD">Didier <br/>Motte</h2>
        </div>
        <div class="navCenterDown">
          <ul class="white subproductblack">
            <li><a href="https://didiermotte.be/didier-motte/">Présentation</a></li>
            <li><a href="https://didiermotte.be/stock/">Le stock</a></li>
            <li><a href="https://didiermotte.be/contact/">Contact</a></li>
          </ul>
        </div>
        <div class="navBas">
          <div class="navLeftDown">
            <a href="accueil.html"><img src="" alt="">
            <h2>Didier <br/>Motte</h2></a>
          </div>
          <div class="navCenterDown">
            <ul>
              <li><a href="Views/presentation.html">Présentation</a></li>
              <li><a href="Views/stock.html">Le stock</a></li>
              <li><a href="Views/contacts.html">Contact</a></li>
            </ul>
          </div>
          <div class="navRightDown">
            <div class="icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <p>+32 495/20.59.34</p>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div id="contenair" class="maincontenair">
