<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DidierMotte</title>
    <link rel="stylesheet" href="Views/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <header>
      <nav>
      <div class="principal" >
        <div class="navUp">
          <div class="navLeft">
            <ul>
              <li>Antiquité</li>
              <li>Décoration</li>
              <li>Aménagement d'intérieur</li>
            </ul>
          </div>
          <div class= "navRight">
            <button>English</button>
            <button>Français</button>
          </div>
        </div>
        <div class="navBas">
          <div class="navLeftDown">
            <a class="secondlogo" href="?action=accueil"><img src="/var/www/html/Test-Didier-Motte/Test-Didier-Motte/Views/css/logoMotte.jpg" height="60px" width="60px" alt=""></a>
            <h2>Didier<br/>Motte</h2>
          </div>
          <div class="navCenterDown">
            <ul class="centre">
              <li><a href="?action=presentation">Présentation</a></li>
              <li><a href="?action=stock">Le stock</a></li>
              <li><a href="?action=contacts">Contact</a></li>
            </ul>
          </div>
            <div class="navRightDown">
              <div class="icon">
                <i class="fa fa-phone" aria-hidden="true">+32 495/20.59.34</i>
              </div>
            </div>
        </div>
      </div>
    </nav>
    </header>
