/*---- Body ----*/

	body{
		-webkit-overflow-scrolling:touch;
		color:#f7f7f7;
		background:#272727;
	}

	html,body{
		height:100%;
		padding:0;
		margin:0;
	}


/*---- Général ----*/
	*{
		font-family:"Lato","Open Sans", sans-serif;
		-webkit-font-smoothing:antialiased;
		margin:0;
		padding:0;
	}

	a{
		text-decoration: none;
		color:#000;
	}

	p{
		line-height:1.5;
	}
	
	footer, header, nav, section{
		display:block;
	}

/*---- Header ----*/

	.principal {
		height: 115px;
		background-color:#000;
		margin: 0;
		padding: 0;
		position: relative;
		width:100%;
	}

	.navUp {
		height: 40px;
		border-bottom: 1px solid ##9e9e9e;
	}

	.navBas{
		height: 80px;
		width: 100%;
		clear: left;
	}

	.navLeftDown {
		float: left;
		width:20%;
	}

	.navLeft ul li {
		display: inline-block;
		color:#fff;
		font-size: 86%;
		line-height: 1.5;
		padding-left: 0.2em;
		padding-top: 0.2em;
	}

	.subproductblack li a{
		display: block;
		border-radius:5px;
		line-height: 1.5em;
		background-color:#000;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		padding-left:1em;
		padding-right: 1em;
		font-size: 1em;
		border: 1px inset #616161;
	}

	.subproductblack li a:hover {
		border: 1px inset #222;
		background-color:#fff;
		color:#000;
	}

	ul {
		margin: 0;
		padding:0;
	}

	.navRight {
		float: right;
		padding-right: 1em;
	}

	a,p {
		color: #fff;
	}

	.white li a {
		color: #fff;
		display: block;
		border: 1px solid #fff;
		font-size: 90%;
	}

	.FirstD {
		margin:0;
		padding: 0;
		color: #fff;
		float:left;
	}

	.secondlogo {
		display: block;
		width: 60px;
		height: 60px;
		float:left;
	}

	.navRightDown {
		float: right;
	}

	.navRightDown p{
		color: #fff;
	}
	

/*---- Citation ----*/

blockquote{
	text-align:center;
	margin:50px auto;
	color: #f7f7f7;
	font-style:italic;
	width:auto;
	max-width:600px;
	line-height:1.5;
	display:block;	
}


/*---- Stock ----*/
	#stock h1{
		text-align:center;
	}

/*---- Contact ----*/

	.contact{
	text-align: justify;
	background-color: transparent;
	width: 100%;
	margin-left: 500px;
	margin-right: 500px;
	}

h1 {
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
	margin-left: 250px;
	}

h2 {
	text-align: justify;
	font-size: 25px;
	font-weight: bold;
	}

.nom, h6{
	font-size: 18px;
	font-weight: 600px;
	}

.nom, input {
	font-size: 15px;
	}

.magasin, p {
	font-size: 25px;
	}

.contact, p {
	text-align: justify;
	font-size: 20px;
	}

.adresse p {
	font-size: 15px;
	}

/*---- Footer ----*/




/*---- Presentation ----*/

	#presentation {
		text-align: center;
		background-color: #F7F7F7;
	}

	h1 {
		width: 638px;
	    height: 32;
	    text-align: center;
	}

	h2 {
		font-size: 10px;
	    float: left;
	}

	h1, h2, h3 {
		font-family: "Lato","Open Sans","Avenir Next",sans-serif;
		color: black;
	    font-weight: 400;
	    margin: 0 0 40px;
	}

	#p {
		margin: 1em 0;
		color: black;
		text-align: left;
	    line-height: 1.4;
	    font-size: 22px;
	}

	#em {
		width: 100%;
		color: black;
		font-size: 10%;
	}


/*---- Page Accueil ----*/

	.maincontenair{
		max-width:1500px;
		min-height:1300px;
		background: url(NY_docks_o.jpg)no-repeat;
		display: -webkit-flex; 
		-webkit-align-items: flex-start; 
		display: flex;
		align-items: flex-start;
	}
/*---- Vcard ----*/

	#card {
		text-align: center;
		background-color:#fff;
		margin: 0 auto;
		padding: 1em;
		width:40%;
		height:425px;
		border-radius: 5px;
		-webkit-align-self: center; /* Safari 7.0+ */
		align-self: center;
	}

	#mainlogo {
		width: 100%;
		margin-bottom: 10%;
	}

	.logo{
		width:150px;
		height:150px;
		float: left;
	}

	.logo img{
		width:50%;
		height:50%;
	}

	.maintitle {
		font: bold 3em "Trebuchet",Arial,sans-serif;
		text-transform: uppercase;
		padding-left:3em;
		padding-bottom: 2em;
		display: block;
	}

	#maininfo{
		margin-top: 10%;
		clear: left;	
	}

	ul.secondinfo {
		list-style-type:circle;
	}

	ul.secondinfo li {
		display: inline-block;
	}

	#product{
		 padding-top:2em;
		 text-align: center;	
	}

	.subproduct {
		display: flex;
		flex-direction:row;
		list-style-type: none;
	 	justify-content: center;
	}

	.subproduct li{
		display: inline-block;
		padding-left:0.5em;
	}

	.subproduct li a {
		display: block;
		border-radius:5px; 
		line-height: 1.5em;
		background-color: grey;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		padding-left:1em;
		padding-right: 1em;
	}

	.subproduct li a:hover {
		border: 1px inset #222;
		background-color:#fff;
		color:#000;
	}

	.contact {
		float: right;
		width: auto;
	}


/*---- Page 404 ----*/

	/*---- wrap ----*/
		.wrap-404
			{
				width:70%;
				margin:5.2% auto 4% auto;
			}
	/*---- logo ----*/
		.logo-404
		{
			padding: 1em;
			text-align: center;
			padding: 1% 1% 5% 1%;
		}
		.logo-404 h1{
			display: block;
			padding: 2em 0em;
		}
		.logo-404 span{
			font-size: 2em;
			color:#fff;
		}
		.logo-404 span img{
			width:40px;
			height: 40px;
			vertical-align:bottom;
			margin: 0px 10px;
		}

/*********Media Queries************/

	@media only screen and (max-width: 768px)
	{
		.wrap-404 {
			width: 80%;
		}	
		.logo-404 img {
			width: 315px;
		}
	}
	@media only screen and (max-width: 640px)
	{
		.maincontainer{
			background-position:center-bottom;
			background-attachment: fixed;
			background-repeat:no-repeat;
			background-size:cover;
		}
		.wrap-404 {
			width: 85%;
		}	
		.logo-404 {
			padding: 1% 1% 12% 1%;
		}
		.logo-404 img {
			width: 300px;
		}
	}
	@media only screen and (max-width: 480px)
	{
		.wrap-404 {
			width: 90%;
		}	
		.logo-404 {
			padding: 1% 1% 12% 1%;
		}
		.logo-404 span {
			font-size: 1.6em;
		}
		.logo-404 img {
			width: 270px;
		}
	}
	@media only screen and (max-width: 320px)
	{
		.wrap-404 {
			width: 90%;
		}	
		.logo-404 {
			padding: 1% 1% 12% 1%;
		}

		.logo-404 span {
			font-size: 1.4em;
		}
		.logo-404 span img {
		vertical-align: middle;
		}
		.logo-404 img {
			width: 200px;
		}







